<form>
  <div class="from-group">
    <label for="Name">Name</label
    ><input id="Name" type="text" class="form-control" />
  </div>
  <div class="from-group">
    <label for="Phone_Number">Phone Number</label
    ><input id="Phone_Number" type="text" class="form-control" />
  </div>
  <div class="from-group">
    <label class="text-danger" for="Company_Name">Company Name</label
    ><input id="Company_Name" type="text" class="form-control" />
  </div>
  <div class="from-group">
    <label for="Designation">Designation</label
    ><textarea id="Designation" type="text" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
